.flex-container
	display: flex
	flex-wrap: nowrap
	justify-content: space-between
	align-items: center

	.item
		margin: 3% 0 2% 13%
		
		a
			margin-left: 20px
			font-size: 22px
			color: black
			text-transform: uppercase
			text-decoration: none
			font-style: bold



			
	.nav
		margin: 3% 0 2% 1%
		
		
		a
			margin-left: 20px
			font-size: 22px
			color: black
			text-transform: uppercase
			text-decoration: none

	.lang
		font-size: 22px
		margin: 3% 12% 2% 0
		a
			color: black
			text-transform: uppercase
			text-decoration: none

	
.container
	position: relative
	.gal
		//margin: 3% 7% 0 9%
		//padding-top: 50px


		.galery_panel
			//break-inside: avoid
			//padding: 5px
			height: auto
		

		
			

#more
	display: flex
	flex-wrap: nowrap
	justify-content: center
	color: black
	text-transform: uppercase
	text-decoration: none
	padding: 50px 0 50px 0
		
//.lightbox 
//	 height: 100%
//	 width: 100%
//	 position: absolute
//	 top: 0px
//	 left: -100%
